<!DOCTYPE html>
<html>

<head>
    <title>LogIn</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Latest compiled and minified CSS & JS -->



</head>

<body>
    <section class="vh-100" style="background-color:rgb(171, 96, 142);">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <div class="card shadow-2-strong" style="border-radius: 1rem;">
                    <div class="card-header">
                        <h2 class="text-center">Login</h2>
                    </div>
                    <div class="card-body">
                        <form action="/login" method="POST">
                            <div class="form-group">
                                <label for="username">Username</label>
                                <input type="text" class="form-control" id="username" placeholder="Enter your username"
                                    name="username">
                            </div>
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password"
                                    placeholder="Enter your password" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">Login</button>
                            
                            <p id="error-message" style="color: red;">{{message}}</p>
                            
                           
                             
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <script>
        setTimeout(function () {
            var value = document.getElementById("error-message")
            value.style.display = 'none';
        }, 3000);

    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>